.footer{
  height:520px;
  background-color: black;;
}
.footer-image{
    height:450px;
    width:100%;
}

.insta-icon{
    font-size: 30px;
    color:#FE5F41;
}
.fb-icon{
    font-size: 30px;  
    color:#FE5F41;
  
}
.youtube-icon{
    font-size: 30px;
    color:#FE5F41;
   
}
.google-icon{
    color:#FE5F41;
    font-size: 30px;
}