.food-card{
    height:420px;
    border:1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.card-img{
    width:100%;
    height:250px;
}
.price-rating{
    display: flex;
    justify-content: space-between;
}
.rating{
    color:#FE5F41;
}